*{
  margin: 0;
  padding: 0;
}
.banner{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(homee.jpg);
 /*  background: url("https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&w=600");  */
}

h2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

.navbar ul{
  display: flex;
justify-content: flex-end;
align-items: center;
  padding-right: 5px;
  

}
.navbar ul li{
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 1rem 0.5rem;
  margin: 0 20px;
  position: relative;

}
a{
  text-decoration: none;
  color: #05bba6;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #126359;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;

}
.navbar ul li:hover::after{
width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 40%;
 text-align: center;
 transform: translateY(-50%);
}

button{
  width: 200px;
  text-align: center;
  padding: 15px 0;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid #126359;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  position: relative;
  
}
span{
  background: #126359;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
left: 0;
bottom: 0;
z-index: -1;
transition: 0.5s;
}

button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}