*{
    justify-content: center;
    text-align: center;
padding: 8px;
/* background-color: rgb(195, 195, 230); */
background-color: #efefef;
    color: #000;
    direction: ltr;
    
    
}
.lo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.linee{
    width:50%;
    text-align:left;
    border-width:1px;
    border-bottom: 2px solid dodgerblue;
    /*   height: 200px; */
 left: 10%;
 margin-left: 139px;
   
    
}
.fa{
    color: dodgerblue;
    font-family: inherit;
    font-size: 50px;
    font-weight: bold;

}
a{
    text-decoration: none;
    background-color: dodgerblue;
    color: #fff;

   
}
/* li{ */
    /* font-size: 25px; */
    /* list-style: none; */
    /* background-color: dodgerblue; */
    /* color: #fff; */
    /* width: 60%; */
    /* border-radius: 4px; */
    /* height: 80%; */
    /* font-weight: bolder; */
    /* font-size: 30px; */
    /* margin-right: 65rem; */
/*  */
/* } */
.group{
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    margin: auto;
    padding-top: 45%;
}
.grouper{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  
}
.roup{
align-items: center;
font-size: 35px;

}
div{
    display: block;
}

.button1{
 padding-right: 64px;
 color: #454545;
 border-radius: 3px;
 width: 60%;
 height: 100%;
 text-align: start;
 border: 1px solid;
 border-color: #d4caca;
 
   
}
.cup{
    width: 60%;
    margin: 10px;
    border-radius: 3px;
    text-align: start;
    font-size: 15px;
    color: #454545;
    border: 1px solid;
    border-color: #d4caca;
}
.summit{
    background-color: dodgerblue;
    color: #fff;
    width: 60%;
    border-radius: 4px;
    height: 80%;
    font-weight: bolder;
    font-size: 30px;
    border: 3px dodgerblue;

}
.clos{
    color: dodgerblue;
    padding: 20px;

}

.box{
    background-color: rgb(49, 182, 49);
    width: 60%;
    height: 99%;
   border-radius: 8px;
   color: #fff;
   font-weight: 700;
   border-color: rgb(49, 182, 49);

}
 


